<div id="navbar" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('/')}">
      <a bin-href="/" i18n code="nav.home" ng-bind="var"></a>
    </li>
    <li ng-class="{active: isActive('/blog')}">
      <a bin-href="/blog" i18n code="nav.blog" ng-bind="var"></a>
    </li>
    <li ng-class="{active: isActive('/contact')}">
      <a bin-href="/contact" i18n code="nav.contact" ng-bind="var"></a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li checkpoint-is-authenticated ng-hide="authenticated">
      <a bin-href="/signin"><i class="fa fa-user"></i> Login</a>
    </li>
  </ul>
</div>
