<bin-section id="hero" class="no-padding body-bg" template-url="partials/sections/hero.html"></bin-section>
<bin-section id="features" template-url="partials/sections/features.html"></bin-section>
<bin-section id="about" template-url="partials/sections/about.html"></bin-section>
<bin-section id="products" template-url="partials/sections/catalog-spotlight.html"></bin-section>
<bin-section id="services" template-url="partials/sections/catalog-spotlight.html"></bin-section>
<bin-section id="blog" template-url="partials/sections/blog-spotlight.html"></bin-section>
<bin-section id="contact" class="no-padding" template-url="partials/sections/contact.html"></bin-section>