<div class="container">
    <div class="jumbotron">
        <h1>Binarta starter template</h1>
        <p>
            This is a very basic template to help you create a new Binarta app very quickly.
            <br>
            It only has a <a bin-href="/">homepage</a>, a <a bin-href="/blog">blog</a>
            and a <a bin-href="/contact">contact</a> page.
        </p>
        <p>Good luck with your new project!</p>
    </div>

    <div class="page-header">
        <h1>i18n</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                Use the <code>i18n</code> directive to make a text translatable.
            </p>
            <p>
                Example: <span i18n code="test.i18n.example.1" default="This text can be translated."
                               ng-bind="var"></span>
            </p>
            <pre>&lt;span i18n code="test.i18n.example" default="This text can be translated" ng-bind="var"&gt;&lt;/span&gt;</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                For allowing full wysiwyg functionality, use the <code>editor</code> attribute.
            </p>
            <p>
                Example:
                <i18n code="test.i18n.example.2" default="This <i>text</i> can have some <b>formatting</b>."
                      editor="full" ng-bind-html="var|trust"></i18n>
            </p>
            <pre>&lt;i18n code="test.i18n.example.2" default="This &lt;i&gt;text&lt;/i&gt; can have some &lt;b>formatting&lt;/b&gt;." editor="full" ng-bind-html="var|trust"&gt;&lt;/i18n&gt;</pre>
        </div>
    </div>

    <div class="page-header">
        <h1>Images</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                Use the <code>bin-image</code> directive in combination with the <code>img</code> element to make it
                editable.
            </p>
            <p style="max-width: 300px; max-height: 300px;">
                Example: <img bin-image="test.image.example.1">
            </p>
            <pre>&lt;img bin-image="test.image.example.1"&gt;</pre>
        </div>
    </div>

</div>
