.bin-blog {
  .bin-article {
    .bin-article-image-wrapper {
      img {
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    hr {
      margin: 40px 0;
    }
  }
}
