<div class="container">
  <bin-blog>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <bin-blog-drafts></bin-blog-drafts>
      </div>
    </div>

    <bin-blog-previews>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <bin-blog-add-article-button></bin-blog-add-article-button>
        </div>
      </div>

      <ng-include src="'bin-blog-previews.html'"></ng-include>

      <div class="row">
        <div class="col-xs-12 col-sm-8"
             ng-class="searchCtrl.results.length > 0 ? 'col-sm-offset-4' : 'col-sm-offset-2'">
            <ng-include src="'search-for-more.html'"></ng-include>
        </div>
      </div>
    </bin-blog-previews>
  </bin-blog>
</div>
