<div id="navbar" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('/')}">
      <a href="#!/" i18n code="navigation.label.home" ng-bind="var"></a>
    </li>
    <li ng-class="{active: isActive('/blog'), disabled: !blogEnabled}" ng-if="hasEditModePermission || blogEnabled">
      <a href="#!/blog" i18n code="navigation.label.blog" ng-bind="var"></a>
    </li>
    <li ng-class="{active: isActive('/contact')}">
      <a href="#!/contact" i18n code="navigation.label.contact" ng-bind="var"></a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li checkpoint-is-authenticated ng-hide="authenticated">
      <a href="#!/signin"><i class="fa fa-user"></i> Login</a>
    </li>
  </ul>
</div>
