<div class="container">
    <app-section-title></app-section-title>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <bin-contact-form>
                <bin-contact-form-field field-type="text" field-name="name"></bin-contact-form-field>
                <bin-contact-form-field field-type="email" field-name="replyTo"></bin-contact-form-field>
                <bin-contact-form-field field-type="textarea" field-name="message"></bin-contact-form-field>
                <bin-contact-form-submit></bin-contact-form-submit>
            </bin-contact-form>
            <div class="section-spacer"></div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <app-contact-info></app-contact-info>
            <bin-opening-hours></bin-opening-hours>
            <div class="section-spacer"></div>
        </div>
    </div>
</div>
<bin-maps></bin-maps>