<div class="container">
  <div class="bin-checkpoint-container">
    <div class="well">
      <legend class="text-center">Verander mijn wachtwoord</legend>
      <img class="bin-checkpoint-profile-img" src="//s3-eu-west-1.amazonaws.com/binarta/image/logo/binarta-sign.png"
           srcset="//s3-eu-west-1.amazonaws.com/binarta/image/logo/binarta-sign.png 1x,
         //s3-eu-west-1.amazonaws.com/binarta/image/logo/binarta-sign@2x.png 2x">

      <form ng-submit="submit()">
        <input type="password" class="form-control" placeholder="Huidig wachtwoord" ng-model="currentPassword" required autofocus>
        <input type="password" class="form-control" placeholder="Nieuw wachtwoord" ng-model="newPassword" required>
        <p class="text-danger" ng-show="forbidden">
          Uw huidig wachtwoord komt niet overeen met het ingevoerde wachtwoord.
        </p>
        <p class="text-success" ng-show="ok">
          Uw wachtwoord werd veranderd.
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Opslaan</button>
      </form>
    </div>
  </div>
</div>
