<div class="container">
  <div class="bin-checkpoint-container">
    <div class="well">
      <img class="bin-checkpoint-profile-img" src="//cdn.binarta.com/image/checkpoint/locked.png"
           srcset="//cdn.binarta.com/image/checkpoint/locked.png 1x,
         //cdn.binarta.com/image/checkpoint/locked@2x.png 2x">

      <p class="text-success text-center">
        Het token om uw wachtwoord te herstellen werd verstuurd naar uw emailadres. Gelieve uw inbox te raadplegen.
      </p>
    </div>
  </div>
</div>
