<div class="container">
  <div class="bin-checkpoint-container">
    <div class="well">
      <legend class="text-center">Wachtwoord vergeten?</legend>
      <img class="bin-checkpoint-profile-img" src="//s3-eu-west-1.amazonaws.com/binarta/image/checkpoint/locked.png"
           srcset="//s3-eu-west-1.amazonaws.com/binarta/image/checkpoint/locked.png 1x,
         //s3-eu-west-1.amazonaws.com/binarta/image/checkpoint/locked@2x.png 2x">

      <form ng-submit="submit()">
        <input type="email" class="form-control" placeholder="E-mail" ng-model="email" required autofocus>
        <div ng-repeat="(key, value) in violations">
          <p ng-repeat="v in value" class="text-danger">
            <span ng-if="key == 'email' && v == 'mismatch'">Jouw e-mailadres is niet correct</span>
          </p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Verstuur</button>
      </form>

      <a href="#!/signin">Login</a>
    </div>

    <a href="https://binarta.com/#!/template-selection">Maak een account aan</a>
  </div>
</div>
