<div class="container">
  <div class="bin-checkpoint-container">
    <div class="well">
      <img class="bin-checkpoint-profile-img" src="//cdn.binarta.com/image/logo/binarta-sign.png"
           srcset="//cdn.binarta.com/image/logo/binarta-sign.png 1x,
         //cdn.binarta.com/image/logo/binarta-sign@2x.png 2x">

      <form ng-submit="submit()">
        <input type="text" class="form-control" placeholder="Gebruikersnaam / E-mail" ng-model="username" required autofocus>
        <input type="password" class="form-control" placeholder="Wachtwoord" ng-model="password" required>
        <div ng-repeat="(key, value) in violations">
          <p ng-repeat="v in value" class="text-danger">
            <span ng-if="key == 'credentials' && v == 'mismatch'">Jouw gebruikersnaam en/of wachtwoord is niet correct</span>
            <span ng-if="!(key == 'credentials' && v == 'mismatch')" i18n code="{{key}}.{{v}}" default="{{key}}.{{v}}">{{var}}</span>
          </p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

      <a href="#!/password/recover">Wachtwoord vergeten?</a>
    </div>

    <a href="https://binarta.com/#!/template-selection">Maak een account aan</a>
  </div>
</div>
