<!DOCTYPE html>
<!--[if lte IE 9 ]>
<html> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html ng-app="<%= namespace %>"><!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
  <base href="<%%print('${applicationUrl}')%>">
  <meta property="og:type" content="website">
  <@og_site_name></@og_site_name>
  <@og_title></@og_title>
  <@og_description></@og_description>
  <@og_image></@og_image>
  <@og_url></@og_url>
  <meta charset="utf-8">
  <meta name="fragment" content="!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta name="robots" content="<%%print('${robots}')%>">
  <meta ng-if="unlocalizedPath == '/404'" name="prerender-status-code" content="404">
  <script>
    window.prerenderReady = false;
    <%%if(debugInfoEnabled) {%>window.debugInfoEnabled = true;<%%}%>
  </script>
  <@link rel="stylesheet" type="text/css" href="${stylesUrl}?${version}"></@link>
  <!--[if (gt IE 9)|!(IE)]><!-->
  <@script src="${javascriptUrl}?${version}"></@script>
  <@script src="scripts/partials.js?${version}"></@script>
  <@script src="scripts/config.js?${version}"></@script>
  <@application_profile></@application_profile>
  <!--<![endif]-->
</head>
<body class="notifications" editmode="{{editing}}">
<!--[if (gt IE 9)|!(IE)]><!-->
<main-navbar></main-navbar>
<div ng-view></div>
<main-footer></main-footer>
<!--<![endif]-->

<div ng-if="::false">
  <noscript>
    <div class="text-center">
      <h3>Javascript is disabled!</h3>
      <p>Javascript is disabled or your browser doesn't support javascript.</p>
      <p>For this site to work properly, javascript needs to be enabled.</p>
    </div>
  </noscript>
  <!--[if lte IE 9 ]>
  <div class="text-center">
    <h3>You are using an outdated browser!</h3>
    <p>Using an outdated browser makes your computer unsafe.</p>
    <p>This page can assist you in updating your browser: <a href="//browsehappy.com">browsehappy.com</a></p>
  </div>
  <![endif]-->
</div>
</body>
</html>
