<!DOCTYPE html>
<!--[if lte IE 9 ]>
<html> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{locale}}" ng-app="<%= namespace %>" ng-controller="MainCtrl"><!--<![endif]-->
<head>
  <base href="<%%print('${applicationUrl}')%>">
  <meta charset="utf-8">
  <meta name="fragment" content="!">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta name="author" content="Binarta">
  <meta name="robots" content="${robots}">
  <meta ng-if="unlocalizedPath == '/404'" name="prerender-status-code" content="404">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//cdn.binarta.com/image/favicon/apple-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//cdn.binarta.com/image/favicon/apple-72.png">
  <link rel="apple-touch-icon-precomposed" href="//cdn.binarta.com/image/favicon/apple-57.png">
  <link rel="shortcut icon" href="//cdn.binarta.com/image/favicon/favicon.png" type="image/x-icon">
  <script>
    window.prerenderReady = false;
    <%%if(debugInfoEnabled) {%>window.debugInfoEnabled = true;<%%}%>
  </script>
  <link rel="canonical" href="{{getAbsUrl()}}">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="${stylesUrl}?${version}">
  <!--[if (gt IE 9)|!(IE)]><!-->
  <script src="${javascriptUrl}?${version}"></script>
  <script src="scripts/partials.js?${version}"></script>
  <script src="scripts/config.js?${version}"></script>
  <!--<![endif]-->
</head>
<body class="notifications" editmode="{{editing}}" checkpoint-permission-for="edit.mode"
      ng-class="{'clerkmenu-visible': permitted, 'sidebar-visible': amc.status() == 'opened'}"
      ng-controller="ApplicationMenuController as amc">
<!--[if (gt IE 9)|!(IE)]><!-->
<main class="main-container-wrapper" ng-swipe-left="amc.close()" ng-swipe-right="amc.open()">
    <cookie-permission-granted></cookie-permission-granted>
    <ng-include src="'partials/header.html'"></ng-include>
    <div class="main-container" ng-click="amc.close()">
        <div ng-view></div>
        <ng-include src="'partials/footer.html'"></ng-include>
    </div>
</main>
<ng-include src="'partials/nav/sidebar.html'" class="visible-xs"></ng-include>
<!--<![endif]-->

<div ng-if="::false">
  <noscript>
    <div class="text-center">
      <h3>Javascript is disabled!</h3>
      <p>Javascript is disabled or your browser doesn't support javascript.</p>
      <p>For this site to work properly, javascript needs to be enabled.</p>
    </div>
  </noscript>
  <!--[if lte IE 9 ]>
  <div class="text-center">
    <h3>You are using an outdated browser!</h3>
    <p>Using an outdated browser makes your computer unsafe.</p>
    <p>This page can assist you in updating your browser: <a href="//browsehappy.com">browsehappy.com</a></p>
  </div>
  <![endif]-->
</div>
</body>
</html>
