<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" bin-href="/"><%= namespace %></a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $ctrl.path == '/'}">
          <a bin-href="/" i18n code="nav.home" ng-bind="var"></a>
        </li>
        <li ng-class="{active: $ctrl.path == '/blog'}">
          <a bin-href="/blog" i18n code="nav.blog" ng-bind="var"></a>
        </li>
        <li ng-class="{active: $ctrl.path == '/contact'}">
          <a bin-href="/contact" i18n code="nav.contact" ng-bind="var"></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: $ctrl.path == '/signin'}" ng-if="!$ctrl.authenticated">
          <a bin-href="/signin"><i class="fa fa-user"></i> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>